@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Merriweather|Josefin+Slab|Oswald|Bree+Serif);

$offWhite:  #EEE8D6;
$darkBlue: #022933;
$red: #D14348;
$blue: #0076A3;

$font-main: 'Merriweather', Helvetica, sans-serif;
$font-highlight: 'Bree Serif', Helvetica, sans-serif;
$color-headlines: $red;